.css-zcbmsk-MuiButtonBase-root-MuiButton-root {
    background-color: rgb(9 51 69) !important;
}
.css-80pr5n-MuiPaper-root {
    position: fixed;
    width: calc(100% - 14rem);
    height: calc(100vh - 70px);
    top: 70px;
    padding: 20px;
    overflow-y: auto;
}